<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <!-- Gecko's bundled engine reaches packaged assets through a loopback-only socket. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:networkSecurityConfig="@xml/compat_network_security">
        <activity android:name="io.github.jacklee992.wanba.MainActivity" tools:node="remove" />
        <activity android:name="io.github.jacklee992.wanba.CompatActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:windowSoftInputMode="adjustResize"
            android:enableOnBackInvokedCallback="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
